@media all and (min-width:0px){
    .fourthLine {
        width: 100%;
        height: 375px;
        padding-top: 20px;
        padding-bottom: 30px;
        color: #000000;
        background: url('../../../assets/images/pexels-photo-316466.jpeg') center;
        background-size: cover;
        text-align: center;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        font-size: medium;
    }

    .fourthLine b {
        font-weight: bold;
        color: #49cc99;
        font-size: x-large;
        letter-spacing: 3px;
        color: #000000;
        font-weight: 1000;
    }
}

@media all and (min-width:400px){
    .fourthLine {
        width: 100%;
        height: 350px;
        padding-top: 20px;
        padding-bottom: 30px;
        color: #000000;
        background: url('../../../assets/images/pexels-photo-316466.jpeg') center;
        background-size: cover;
        text-align: center;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        font-size: medium;
    }

    .fourthLine b {
        font-weight: bold;
        color: #49cc99;
        font-size: x-large;
        letter-spacing: 3px;
        color: #000000;
        font-weight: 1000;
    }
}

@media all and (min-width:700px){
    .fourthLine {
        width: 100%;
        height: 300px;
        padding-top: 20px;
        padding-bottom: 30px;
        color: #000000;
        background: url('../../../assets/images/pexels-photo-316466.jpeg') center;
        background-size: cover;
        text-align: center;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        font-size: medium;
    }

    .fourthLine b {
        font-weight: bold;
        color: #49cc99;
        font-size: x-large;
        letter-spacing: 3px;
        color: #000000;
        font-weight: 1000;
    }
}

@media all and (min-width:1000px){
    .fourthLine {
        width: 100%;
        height: 375px;
        padding-top: 20px;
        padding-bottom: 30px;
        color: #000000;
        background: url('../../../assets/images/pexels-photo-316466.jpeg') center;
        background-size: cover;
        text-align: center;
        align-items: center;
        justify-content: center;
        letter-spacing: 1px;
        font-size: large;
    }

    .fourthLine b {
        font-weight: bold;
        color: #49cc99;
        font-size: xx-large;
        letter-spacing: 3px;
        color: #000000;
        font-weight: 1000;
    }
}