.fourthLineLaptop {
    width: 100%;
    height: 375px;
    padding-top: 20px;
    padding-bottom: 30px;
    color: #000000;
    background: url('../../../assets/images/pexels-photo-316466.jpeg') center;
    background-size: cover;
    text-align: center;
    align-items: center;
    justify-content: center;
    letter-spacing: 1px;
    font-size: large;
}

.fourthLineLaptop b {
    font-weight: bold;
    color: #49cc99;
}