@media all and (min-width:0px){
    .thirdLine {
        width: 100%;
        height: 2100px;
        background-color: #ffffff;
    }

    .thirdLineHeading {
        height: 50px;
        z-index: 1;
    }

    h3 {
        color: #000000;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: bolder;
    }

    .programOverview {
        width: 100%;
        height: 600px;
        display: inline-block;
        margin-top: 1%;
        margin-left: 1%;
    }

    .programSection {
        width: 90%;
        height: 80%;
        background-color: #49cc99;
        color: #000000;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 7px 7px lightgrey;
        padding: 1%;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .programSection b{
        color: #ffffff;
        font-weight: 1000;
    }

    .picture1 {
        background: url('../../../assets/images/SensoryMotorIntervention.jpeg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture2 {
        background: url('../../../assets/images/VisualMotorIntervention.jpg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture3 {
        background: url('../../../assets/images/VisionTrackingIntervention.jpeg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture4 {
        background: url('../../../assets/images/VisualAuditoryIntervention.jpg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .programPicture {
        width: 100%;
        height: 20%;
        display: flex;
    }

    .programName {
        margin-top: 5%;
        color: #000000;
        border: 7px solid #ffcc00;
        background-color: #ffcc00;
        border-radius: 10px;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: medium;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-transition: ease-out 0.2s;
        -moz-transition: ease-out 0.2s;
        transition: ease-out 0.2s;
    }

    .programSlideRight:hover {
        border: 7px solid #0099ff;
        background-color: #0099ff;
        color: #ffffff;
    }

    .programDescription {
        margin-top: 5%;
        width: 100%;
        height: 40%;
        font-size: 16px;
    }
}

@media all and (min-width:400px){
    .thirdLine {
        width: 90%;
        height: 2100px;
        background-color: #ffffff;
        margin-left: 5%;
    }

    .thirdLineHeading {
        height: 50px;
        z-index: 1;
    }

    h3 {
        color: #000000;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: bolder;
    }

    .programOverview {
        width: 100%;
        height: 600px;
        display: inline-block;
        margin-top: 1%;
        margin-left: 1%;
    }

    .programSection {
        width: 90%;
        height: 80%;
        background-color: #49cc99;
        color: #000000;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 7px 7px lightgrey;
        padding: 1%;
        margin-bottom: 20px;
        margin-left: 10px;
    }

    .programSection b{
        color: #ffffff;
        font-weight: 1000;
    }

    .picture1 {
        background: url('../../../assets/images/SensoryMotorIntervention.jpeg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture2 {
        background: url('../../../assets/images/VisualMotorIntervention.jpg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture3 {
        background: url('../../../assets/images/VisionTrackingIntervention.jpeg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture4 {
        background: url('../../../assets/images/VisualAuditoryIntervention.jpg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .programPicture {
        width: 100%;
        height: 20%;
        display: flex;
    }

    .programName {
        margin-top: 5%;
        color: #000000;
        border: 7px solid #ffcc00;
        background-color: #ffcc00;
        border-radius: 10px;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: medium;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-transition: ease-out 0.2s;
        -moz-transition: ease-out 0.2s;
        transition: ease-out 0.2s;
    }

    .programSlideRight:hover {
        border: 7px solid #0099ff;
        background-color: #0099ff;
        color: #ffffff;
    }

    .programDescription {
        margin-top: 5%;
        width: 100%;
        height: 40%;
        font-size: 16px;
    }
}

@media all and (min-width:700px){
    .thirdLine {
        width: 100%;
        height: 700px;
        background-color: #ffffff;
        margin-left: 0%;
    }

    .thirdLineHeading {
        height: 10%;
        z-index: 1;
    }

    h3 {
        color: #000000;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: bolder;
    }

    .programOverview {
        width: 100%;
        height: 90%;
        display: flex;
        margin-top: 1%;
    }

    .programSection {
        width: 21%;
        height: 90%;
        background-color: #49cc99;
        color: #000000;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 7px 7px lightgrey;
        padding: 1%;
    }

    .programSection b{
        color: #ffffff;
        font-weight: 1000;
    }

    .notLast {
        margin-right: 0.5%;
    }

    .picture1 {
        background: url('../../../assets/images/SensoryMotorIntervention.jpeg') center;
        background-size: cover;
        height: 250px;
        width: 100%;
        border-radius: 2%;
    }

    .picture2 {
        background: url('../../../assets/images/VisualMotorIntervention.jpg') center;
        background-size: cover;
        height: 250px;
        width: 100%;
        border-radius: 2%;
    }

    .picture3 {
        background: url('../../../assets/images/VisionTrackingIntervention.jpeg') center;
        background-size: cover;
        height: 250px;
        width: 100%;
        border-radius: 2%;
    }

    .picture4 {
        background: url('../../../assets/images/VisualAuditoryIntervention.jpg') center;
        background-size: cover;
        height: 250px;
        width: 100%;
        border-radius: 2%;
    }

    .programPicture {
        width: 100%;
        height: 20%;
        display: flex;
    }

    .programName {
        margin-top: 5%;
        color: #000000;
        border: 7px solid #ffcc00;
        background-color: #ffcc00;
        border-radius: 10px;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: medium;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-transition: ease-out 0.2s;
        -moz-transition: ease-out 0.2s;
        transition: ease-out 0.2s;
    }

    .programSlideRight:hover {
        border: 7px solid #0099ff;
        background-color: #0099ff;
        color: #ffffff;
    }

    .programDescription {
        margin-top: 5%;
        width: 100%;
        height: 40%;
        font-size: 14px;
    }
}

@media all and (min-width:1000px){
    .thirdLine {
        width: 100%;
        height: 700px;
        background-color: #ffffff;
        margin-left: 0%;
    }

    .thirdLineHeading {
        height: 10%;
        z-index: 1;
    }
    
    h3 {
        color: #000000;
        letter-spacing: 3px;
        font-family: 'Lato';
        font-weight: bolder;
    }

    .programOverview {
        width: 100%;
        height: 90%;
        display: flex;
        margin-top: 1%;
        margin-right: 1%;
        margin-left: 1%;
    }

    .programSection {
        width: 21%;
        height: 80%;
        background-color: #49cc99;
        color: #000000;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        box-shadow: 7px 7px lightgrey;
        padding: 1%;
    }

    .programSection b{
        color: #ffffff;
        font-weight: 1000;
    }

    .notLast {
        margin-right: 1%;
    }

    .picture1 {
        background: url('../../../assets/images/SensoryMotorIntervention.jpeg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture2 {
        background: url('../../../assets/images/VisualMotorIntervention.jpg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture3 {
        background: url('../../../assets/images/VisionTrackingIntervention.jpeg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .picture4 {
        background: url('../../../assets/images/VisualAuditoryIntervention.jpg') center;
        background-size: cover;
        height: 40%;
        width: 100%;
        border-radius: 2%;
    }

    .programPicture {
        width: 100%;
        height: 20%;
        display: flex;
    }

    .programName {
        margin-top: 5%;
        color: #000000;
        border: 7px solid #ffcc00;
        background-color: #ffcc00;
        border-radius: 10px;
        display: inline-block;
        font-family: 'Lato', sans-serif;
        font-size: medium;
        letter-spacing: 1px;
        cursor: pointer;
        -webkit-transition: ease-out 0.2s;
        -moz-transition: ease-out 0.2s;
        transition: ease-out 0.2s;
    }

    .programSlideRight:hover {
        border: 7px solid #0099ff;
        background-color: #0099ff;
        color: #ffffff;
    }

    .programDescription {
        margin-top: 5%;
        width: 100%;
        height: 40%;
        font-size: 16px;
    }
}