@media all and (min-width: 0px) {
    .assessmentBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        background: url('../../assets/images/child-computer-cute-159848.png') center no-repeat;
        background-size: cover;
        background-color: #ffffff;
        overflow: hidden;
        font-size: smaller;
    }

    .assessmentText {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
        font-size: 15px;
    }

    .assessmentButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .types {
        background-color:#ffffff;
        padding: 15px; 
        border-radius: 15px;
    }
}

@media all and (min-width: 400px) {
    .assessmentBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        background: url('../../assets/images/child-computer-cute-159848.png') center no-repeat;
        background-size: cover;
        background-color: #ffffff;
        overflow: hidden;
        font-size: smaller;
    }

    .assessmentText {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 50px;
        font-size: 16px;
    }

    .assessmentButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .types {
        background-color:#ffffff;
        padding: 15px; 
        border-radius: 15px;
    }
}

@media all and (min-width: 700px) {
    .assessmentBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        background: url('../../assets/images/child-computer-cute-159848.png') center no-repeat;
        background-size: cover;
        background-color: #ffffff;
        overflow: hidden;
    }

    .assessmentText {
        padding-left: 100px;
        padding-right: 100px;
        padding-bottom: 70px;
        font-size: 17px;
    }

    .assessmentButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .assessmentTypes {
        background-color:#ffffff;
        padding: 30px; 
        border-radius: 30px;
    }
}

@media all and (min-width: 1000px) {
    .assessmentBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        background: url('../../assets/images/child-computer-cute-159848.png') center no-repeat;
        background-size: cover;
        background-color: #ffffff;
        overflow: hidden;
    }

    .assessmentText {
        padding-left: 170px;
        padding-right: 170px;
        padding-bottom: 100px;
        font-size: 17px;
    }

    .assessmentButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }

    .assessmentTypes {
        background-color:#ffffff;
        padding: 50px; 
        border-radius: 50px;
    }
}