.buttonSlide {
    color: #ffffff;
    border: 2px solid #0099ff;
    background-color: #0099ff;
    border-radius: 10px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0099ff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}


@media all and (min-width: 0px){
    .buttonDevice {
        padding: 10px 20px;
        font-size: small;
    }
}

@media all and (min-width: 700px){
    .buttonDevice {
        padding: 12px 24px;
        font-size: small;
        font-weight: bold;
    }
}

@media all and (min-width: 1000px){
    .buttonDevice {
        padding: 18px 36px;
        font-size: medium;
        font-weight: bold;
    }
}

.slideRight:hover {
    border: 2px solid #49cc99;
    box-shadow: inset 400px 0 0 0 #49cc99;
    color: #ffffff;
}
  
.programButton {
    color: #0099ff;
    border: 2px solid #0099ff;
    background-color: #ffffff;
    border-radius: 10px;
    padding: 18px 36px;
    display: inline-block;
    font-family: 'Lato', sans-serif;
    font-size: medium;
    font-weight: light;
    letter-spacing: 2px;
    cursor: pointer;
    box-shadow: inset 0 0 0 0 #0099ff;
    -webkit-transition: ease-out 0.4s;
    -moz-transition: ease-out 0.4s;
    transition: ease-out 0.4s;
}