#footer {
  width: 100%;
  height: 50px;
  color: #ffffff;
  background: black;
  display: flex;
  margin-bottom: 0%;
  padding-bottom: 0%;
  overflow: hidden;
}

.footerSection {
  width: 33%;
  height: 100%;
  line-height: 50px;
  text-align: left;
  padding-left: 10px;
}

#madeBy a {
  text-decoration: none;
}

#madeBy a:hover {
  color: #ffffff;
}

@font-face {
  font-family: 'si';
  src: url('../../assets/fonts/socicon.eot');
  src: url('../../assets/fonts/socicon.eot?#iefix') format('embedded-opentype'),
       url('../../assets/fonts/socicon.woff') format('woff'),
       url('../../assets/fonts/socicon.ttf') format('truetype'),
       url('../../assets/fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family:si;
      src: url(../../assets/fonts/socicon.svg) format(svg);
  }
}

.soc {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 50px;
  height: 50px;
  line-height: 50px;
  font-size: 25px;
  margin-right: 13px;
  color: #ffffff;
}

.soc a:hover {
  z-index: 2;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.soc-icon-last{
  margin:0 !important;
}

.soc-f:before {
  content:'\e041';
}
.soc-i:before {
  content:'\e057';
}
.soc-mail:before {
  content:'\e01f';
}