@media all and (min-width: 0px) {
    #brainImage {
        width: 250px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }
    
    #pyramidImage {
        width: 250px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }

    #brainAreas {
        list-style-position: inside;
        text-align: center;
        display: inline-block;
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }

    .programBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        background: url('../../assets/images/asian-baby-baby-model-36444.png') repeat-y;
        background-color: #ffffff;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .programText {
        background-color: #ffffff;
        margin: 10px;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 30px;
        font-size: 15px;
    }

    .programButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }
}

@media all and (min-width: 400px) {
    #brainImage {
        width: 350px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }
    
    #pyramidImage {
        width: 350px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }

    #brainAreas {
        list-style-position: inside;
        text-align: center;
        display: inline-block;
        columns: 1;
        -moz-columns: 1;
        -webkit-columns: 1;
    }

    .programBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        background: url('../../assets/images/asian-baby-baby-model-36444.png') repeat-y;
        background-color: #ffffff;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: smaller;
    }

    .programText {
        background-color: #ffffff;
        margin: 20px;
        padding: 10px;
        padding-top: 50px;
        padding-bottom: 50px;
        border-radius: 50px;
        font-size: 16px;
    }

    .programButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }
}

@media all and (min-width: 700px){
    #brainImage {
        width: 500px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }
    
    #pyramidImage {
        width: 500px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }

    #brainAreas {
        list-style-position: inside;
        text-align: center;
        display: inline-block;
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
    }
    
    .programBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        background: url('../../assets/images/asian-baby-baby-model-36444.png') center no-repeat;
        background-color: #ffffff;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .programText {
        background-color: #ffffff;
        margin: 50px;
        padding: 50px;
        padding-top: 50px;
        margin-bottom: 50px;
        border-radius: 50px;
        font-size: 16px;
    }
    
    .programButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }
}

@media all and (min-width: 1000px){
    #brainImage {
        width: 900px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }
    
    #pyramidImage {
        width: 700px;
        height: auto;
        margin: 0 auto;
        border-radius: 0;
    }

    #brainAreas {
        list-style-position: inside;
        text-align: center;
        display: inline-block;
        columns: 2;
        -moz-columns: 2;
        -webkit-columns: 2;
    }
    
    .programBackground {
        color: #000000;
        width: 100%;
        max-width: 100%;
        height: auto;
        overflow: hidden;
        background: url('../../assets/images/asian-baby-baby-model-36444.png') center no-repeat;
        background-color: #ffffff;
        align-content: center;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    
    .programText {
        background-color: #ffffff;
        margin: 100px;
        padding: 100px;
        padding-top: 50px;
        margin-bottom: 50px;
        border-radius: 50px;
        font-size: 16px;
    }
    
    .programButtonText {
        background-color: #ffcc00;
        border: 5px solid #ffcc00;
        border-radius: 5px;
        color: #ffffff;
        letter-spacing: 1px;
    }
}

li {
    text-align: left;
}