#brainImage {
    width: 900px;
    height: auto;
    margin: 0 auto;
    border-radius: 0;
}

.programBackground {
    width: 100%;
    max-width: 100%;
    height: auto;
    overflow: hidden;
    background-color: #ffffff;
    align-content: center;
    align-items: center;
    justify-content: center;
    text-align: center;
}