.App {
  text-align: center;
}

.App-logo {
  height: 80px;
}

.App-header {
  background-color: #FFFFFF;
  color: #000000;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.sportsBg {
  width: 100%;
  height: 350px;
  background: url('./assets/images/bg.png') center repeat;
  background-color: #ffffff;
}

.geometryBg {
  background: url('./assets/images/bg2.png') center repeat;
}
