@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
  color: black;
}

p.heading {
  font-family: 'Dosis', sans-serif !important;
}