@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(https://fonts.googleapis.com/css?family=Dosis);
@import url(https://fonts.googleapis.com/css?family=Lato);

body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif !important;
}

a {
  text-decoration: none;
  color: #808080;
}

a:hover{
  color: #000000;
}

p.heading {
  font-family: 'Dosis', sans-serif !important;
  letter-spacing: 5px;
}

.buttonSlide {
  color: #0099ff;
  border: 2px solid #0099ff;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: 'Dosis', sans-serif;
  font-size: medium;
  font-weight: 900;
  letter-spacing: 5px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0099ff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.slideRight:hover {
  box-shadow: inset 400px 0 0 0 #0099ff;
  color: #ffffff;
}

.programButton {
  color: #0099ff;
  border: 2px solid #0099ff;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 18px 36px;
  display: inline-block;
  font-family: 'Lato', sans-serif;
  font-size: medium;
  font-weight: light;
  letter-spacing: 2px;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 #0099ff;
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

@font-face {
  font-family: 'si';
  src: url('./assets/fonts/socicon.eot');
  src: url('./assets/fonts/socicon.eot?#iefix') format('embedded-opentype'),
       url('./assets/fonts/socicon.woff') format('woff'),
       url('./assets/fonts/socicon.ttf') format('truetype'),
       url('./assets/fonts/socicon.svg#icomoonregular') format('svg');
  font-weight: normal;
  font-style: normal;

}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
      font-family:si;
      src: url(./assets/fonts/socicon.svg) format(svg);
  }
}

.soc {
  overflow:hidden;
  margin:0; padding:0;
  list-style:none;
}

.soc li {
  display:inline-block;
  *display:inline;
  zoom:1;
}

.soc li a {
  font-family:si!important;
  font-style:normal;
  font-weight:400;
  -webkit-font-smoothing:antialiased;
  -moz-osx-font-smoothing:grayscale;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  -ms-box-sizing:border-box;
  -o-box-sizing:border-box;
  box-sizing:border-box;

  -o-transition:.1s;
  -ms-transition:.1s;
  -moz-transition:.1s;
  -webkit-transition:.1s;
  transition:.1s;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);

  overflow:hidden;
  text-decoration:none;
  text-align:center;
  display:block;
  position: relative;
  z-index: 1;
  width: 69px;
  height: 69px;
  line-height: 69px;
  font-size: 37px;
  -webkit-border-radius: 100px;
  -moz-border-radius: 100px;
  border-radius: 100px;
  margin-right: 13px;
  color: #ffffff;
  background-color: #ffcc00;
}

.soc a:hover {
  z-index: 2;
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
}

.soc-icon-last{
  margin:0 !important;
}

.soc-f:before {
  content:'\e041';
}
.soc-i:before {
  content:'\e057';
}
.soc-mail:before {
  content:'\e01f';
}